.box{
    border: 1px solid #000;
    padding: 10px;
    width : 70%;
 
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-weight : bold;
    font-size: 25px
}
